/* galleruy image  css*/
*{
  box-sizing: border-box;

}

body{

}
.header{
	text-align: center;
	padding-top: 80px;
  font-size: 15pt;
	margin: 0;
	font-family: 'courier New', courier,monospace;
}

.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.column{
	flex:50%;
}

.column img{
	padding: 4px;
	width: 50%;
	vertical-align: middle;
}

@media(max-width: 800px){
	.column{
		flex:50%;
	}
}

@media(max-width: 609px){
	.column{
		flex:100%;
	}
}
